body{background-color: black; text-transform: uppercase;text-align: center;margin-top:5% ;}

h1{color:aliceblue;font-family:"Libre+Baskerville";margin-bottom:2%;font-size:4rem ; 
    font-weight: 800;
margin-bottom:10% ; }


.EJ{width:30%; border-style: outset ;
border-width:10px ;
border-color: white ;} 


#Line{color:aliceblue;  }

#Heading{ padding-top:4% ;}
